<!doctype html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>0720 장고우 연습</title>
</head>

<body>
    <h1>Bookmark List</h1>
    <p>{{ urlCount }}개의 북마크가 등록되어 있습니다</p>
    <!-- 템플릿 엔진의 문법, 뷰함수에서 렌더로 가져온 변수들을 쓰려면 이게 필요-->
    <!-- html상에서 db에 저장한 요소들을 갖고올 수 있게 하는 문법문법 -->
    <ul>
        {% for row in urlList %} <!--템플릿 엔진에서 순회 조건 적용 -->
            <li>{{ row.title }} {{ row.url }}</li>
            <!-- for문 안하면 오브젝트 뭉텅이가 출력됨 -->
            <!-- **존나**쿼리문에서 필드값을 도트연산자로 지정해 사용할 수 있다**중요** -->
            <!-- 쿼리셋 객체 하나하나 순회하면서 필드값에 접근 가능함-->
        {% endfor %} <!-- 시작했으면 끝에서 닫아줘야댐 -->
    </ul>
</body>
</html>